.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: monospace;
    background-color: rgba(128, 128, 128, 0.273);
}

