<nav class="navbar navbar-expand-lg bg-body-tertiary ps-5 pe-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="timeline">crowdit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Notifications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Groups
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form #searchForm = 'ngForm' class="d-flex me-5" role="search" ngNativeValidate>
          <input class="form-control me-2" id="search-field" type="search" placeholder="Search" aria-label="Search" required>
          <i class="bi bi-search" style="margin-top: auto; margin-bottom: auto;"></i>
        </form>
        <li class="nav-item" style="list-style-type: none;">
            <img src="../../../../assets/user.avif" alt="user">
            <span class="ms-1">{{displayName}} <i class="bi bi-box-arrow-left ms-2 fs-5" (click) = 'signOut()'></i></span>
        </li>
      </div>
    </div>
  </nav>