input:focus {
    outline: .5px solid #ED5A5A;
    border: none;
    box-shadow: none;
}


.navbar-nav {
   gap:10rem;
}

ul li a:hover {
    color: #ED5A5A;
}

.navbar-brand {
    color: #ED5A5A;
}

li img {
    width: 80px;
    height: 80px;
}

li img:hover {
    cursor: pointer;
}

i {
    transition: color .3s;
}

i:hover {
    cursor: pointer;
    color: #ED5A5A;
}

#search-field {
    border: none;
    border-bottom: .5px solid rgba(128, 128, 128, 0.524);
}

#search-field:focus {
    outline: none;
    border-bottom-color: #ED5A5A;
}

li span:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    /* left: 0px; */
    border: 1px solid #efefef;
    border-radius: .4em;
    min-width: 200px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    padding: 12px 12px;
    z-index: 1;
    background-color: #ffff;
  }
  
  #dropdowns:hover .dropdown-content {
    display: block;
  }

  #not_count {
    font-size: small;
    position: relative;
    top: -2.5rem;
    left: 6.1rem;
    background-color: #ed5a5ac2;
    color: #ffff;
    border-radius: 50%;
    padding: 0px 5px;
  }

@media screen and (max-width : 1500px) {
    .navbar-nav {
        gap: 5rem;
    }
}