input:focus {
    outline: .5px solid #ED5A5A;
    border: none;
    box-shadow: none;
}


.navbar-nav {
   gap:10rem;
}

ul li a:hover {
    color: #ED5A5A;
}

.navbar-brand {
    color: #ED5A5A;
}

li img {
    width: 80px;
    height: 80px;
}

li img:hover {
    cursor: pointer;
}

i {
    transition: color .3s;
}

i:hover {
    cursor: pointer;
    color: #ED5A5A;
}

#search-field {
    border: none;
    border-bottom: .5px solid rgba(128, 128, 128, 0.524);
}

#search-field:focus {
    outline: none;
    border-bottom-color: #ED5A5A;
}

@media screen and (max-width : 1500px) {
    .navbar-nav {
        gap: 5rem;
    }
}