form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

textarea {
    border-radius: 20px;
    border: 1px solid grey;
    outline: none;
    height: 60px;
    padding-left: 3px;
    width: 100%;
    resize: none;
}

button {
    background-color: #ed5a5a;
    border-radius: 5px;
    border: none;
    color: #ffff;
    padding: .5rem 1rem;
    margin-left: .1rem;
}

button:hover {
    opacity: .8;
}

img {
    width: 50px;
    height: 50px;
}

input[type = "file"] {
    display: none;
}

#urgent {
    display: none;
}

i:hover {
    color: #ed5a5a;
    cursor: pointer;
}