<div class="wrapper">
    <form #requestForm = 'ngForm' (submit) = 'handleRequestForm(requestForm.value); requestForm.reset()' ngNativeValidate>
        <h1 class="pt-5"><i class="bi bi-exclamation-triangle-fill"></i> EMERGENCY HELP REQUEST <i class="bi bi-exclamation-triangle-fill"></i></h1>
        <p class="text-danger">Please do not send unnecessary requests</p>
        <input type="text" name="name" placeholder="Your Name" ngModel>
        <input type="tel" name="gsm" placeholder="Your Phone Number" ngModel>
        <textarea name="details" rows="10" placeholder="Any details you want to add?" ngModel></textarea>
        <button type="submit">SEND MY LOCATION</button>
    </form>
</div>
<footer></footer>