.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    width: 100%;
    border: 1px solid #dedcdc;
    border-radius: 3px;
}

ul li {
    border-bottom: 1px solid #edeaea;
    padding: .5rem 1rem;
}

img {
    display: inline;
    width: 60px;
    height: 60px;
    position: relative;
    left: -5%;
}

b {
    position: relative;
    left: -5%;
}

.post-author-field {
    display: block;
    width: 110%;
    margin-left: 0;
    padding-left: 0;
}

.post-content-field {
    position: relative;
    left: -.35rem;
}

.post-content-field p i {
    color: #d23835;
}

.post-content-field img {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

.post-content-img-field:hover {
    cursor: pointer;
}

i {
    padding-top: 1rem;
    text-align: end;
    transition: all .3s;
}

i:hover {
    color: #F27D7B;
}

.new-comment-field {
    display: none;
}
