<new-post></new-post>
<div class="wrapper">
    <div class="post" *ngFor="let post of allPosts">
        <div class="post-author">
            <img src="../../../../assets/user.avif" alt="">
            <span>{{post.authorName}}</span>
            <span class="float-end" style="position: relative; top: .6rem; color: #ED5A5A;" *ngIf="post.urgency === true"><i class="bi bi-fire"></i> URGENT <i class="bi bi-fire"></i></span>
            <p class="text-muted" style="font-size: 14px; margin-left: 3.1rem; margin-top: -1rem;">{{post.date}}</p>
        </div>
        <div class="post-content">
            <p class="ps-3">{{post.content}}</p>
            <img src={{post.imageURL}} alt="post_img">
        </div>
        <div class="post-actions ms-2 fs-6">
            <span class="me-2" *ngIf="!likedPosts.includes(post.key)">{{post.likes}}<i class="bi bi-hand-thumbs-up" (click) = 'handleLike(post)'></i></span>
            <span class="me-2" *ngIf="likedPosts.includes(post.key)">{{post.likes}}<i class="bi bi-hand-thumbs-up-fill" style="color: #ED5A5A;" (click) = 'handleLike(post)'></i></span>
            <span *ngIf="post.comments">{{post.comments.length}}<i class="bi bi-chat-dots" (click) = 'openCommentForm(post)'></i></span>
            <span *ngIf="!post.comments">0<i class="bi bi-chat-dots" (click) = 'openCommentForm(post)'></i></span>
        </div>
        <div class="mt-2" *ngIf="post.commentsClicked">
            <hr>
            <h6>Comments <span *ngIf="post.comments">({{post.comments.length}})</span></h6>
            <p *ngIf="!post.comments" class="text-muted text-center">No comments so far..</p>
            <div *ngIf="post.comments">
                <div *ngFor="let comment of post.comments" class="comment">
                    <span style="color: #ED5A5A;">{{comment.author}} <span class="float-end">{{comment.date}}</span></span>
                    <hr class="w-100" style="border-style: dashed; margin-top: 0;">
                    <p>{{comment.content}}</p>
                </div>
            </div>
            <form #commentForm = 'ngForm' class="mt-2" (submit) ='handleCommentSubmission(post , commentForm.value); commentForm.reset()'>
                <input type="text" name="content" placeholder="make a comment.." ngModel>
                <button type="submit"><i class="bi bi-send ms-1"></i></button>
            </form>
        </div>
    </div>
</div>

