<nav class="navbar navbar-inverse navbar-fixed-left" style="width : 10%">
    <div class="container">
      <div class="navbar-header">
        <i class="bi bi-people" title="Users" (click) = 'routeUsers()'></i>
        <i class="bi bi-diagram-3" title="Groups" (click) = 'routeGroups()'></i>
        <i class="bi bi-envelope-exclamation" title="Help Requests" (click) = 'routeRequests()'></i>
        <i class="bi bi-pencil-square" title="Posts" (click) = 'routePosts()'></i>
        <i class="bi bi-list-task" title="Tasks" (click) = 'routeTasks()'></i>
      </div>
    </div>
  </nav>

  <div class="users-field" *ngIf="usersClicked">
    <h3 class="text-center mb-5 mt-1">Total Users : <span style="color : #F53D3D ">{{allUsers.length}}</span></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Role</th>
        <th scope="col">Full Name</th>
        <th scope="col">Age</th>
        <th scope="col">GSM</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Verification</th>
      </tr>
    </thead>
    <tbody *ngIf="allUsers">
      <tr *ngFor="let user of allUsers">
        <td>{{user.role}}</td>
        <td>{{user.name}} {{user.surname}}</td>
        <td>{{user.age}}</td>
        <td>{{user.gsm}}</td>
        <td class="text-primary"> <a href="mailto:{{user.email}}" class="text-decoration-none">{{user.email}}</a></td>
        <td>{{user.province}} / {{user.county}}</td>
        <td>
          <span *ngIf="user.verified" class="text-success">Verified</span>
          <span *ngIf="!user.verified" class="text-danger">Not Verified</span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="groups-field" *ngIf="groupsClicked">
    <h4 class="ms-5 mt-5">New Group</h4>
    <div class="container">
      <div class="switches-container">
        <input type="radio" id="switchMonthly" name="switchPlan" value="create" checked="checked" (change)="handleGroupsChange($event)" />
        <input type="radio" id="switchYearly" name="switchPlan" value="list" (change)="handleGroupsChange($event)" />
        <label for="switchMonthly">Create</label>
        <label for="switchYearly">List</label>
        <div class="switch-wrapper">
          <div class="switch">
            <div>Create</div>
            <div>List</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showGroupCreate">
        <form id="createGroupForm" #createGroupForm = 'ngForm' (submit) = 'handleGroupCreate(createGroupForm.value); createGroupForm.reset' ngNativeValidate>
          <div class="row">
            <div class="col">
              <label for="groupName">Group Name</label>
              <input type="text" name="groupName" ngModel required>
            </div>
            <div class="col">
              <label for="role">Group Role</label>
              <select name="role" id="role" ngModel required>
                <option value="suppliers">Suppliers</option>
                <option value="suppliers">Fieldmans</option>
              </select>
            </div>
          </div>
          <div class="row" style="width: 25%;">
            <div class="col">
              <label for="members" class="text-center mt-3">Add Members</label>
              <ul id="addMembersField">
                <li *ngFor="let user of freeUsers">
                  <span style="font-size: small;">{{user.name}} {{user.surname}}</span>
                   <i *ngIf="!selectedUsers.includes(user)" class="bi bi-plus-circle ms-1" style="color: blue; font-size: small; float: right; position: relative; top: 4px;" (click)="addMember(user)"></i>
                   <i *ngIf="selectedUsers.includes(user)" class="bi bi-x-lg ms-1" style="color:red; font-size: small; float: right; position: relative; top: 4px;" (click)="removeMember(user)" ></i>
                  </li>
              </ul>
            </div>
            <div class="col">
              <label for="manager" class="mt-3">Assign Manager</label>
              <ul id="addManagersField">
                <li *ngFor="let manager of freeManagers">
                  <span style="font-size: small;">{{manager.name}} {{manager.surname}}</span>
                    <i *ngIf="selectedManager !== manager" class="bi bi-plus-circle ms-1" style="color: blue; font-size: small; float: right; position: relative; top: 4px;" (click)="addManager(manager)"></i>
                    <i *ngIf="selectedManager === manager" class="bi bi-x-lg ms-1" style="color:red; font-size: small; float: right; position: relative; top: 4px;" (click)="removeManager(manager)" ></i>
                </li>
              </ul>
            </div>
          </div>
          <button type="submit" class="btn btn-success w-25">Create</button>
        </form>
    </div>
    <div *ngIf="showGroupList">List</div>
  </div>

  <div class="requests-field" *ngIf="requestsClicked">
    <h3 class="text-center mb-2 mt-1"><span>{{allRequests.length}}</span> Anonymous Requests</h3>
    <h6 class="text-danger text-center mb-3">If the address is not certain, use coordinates via Google Maps to locate the request</h6>
    <div class="text-end filter-field">
      <select name="filter" id="filter" (change) = 'filterRequests($event)'>
        <option value="all">All</option>
        <option value="done">Done</option>
        <option value="active">Active</option>
      </select>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>GSM</th>
          <th>Details</th>
          <th>Address</th>
          <th>Coordinates</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of allRequests">
          <td>{{request.name}}</td>
          <td class="text-primary">{{request.gsm}}</td>
          <td>{{request.details}}</td>
          <td>{{request.full_address}}</td>
          <td>{{request.coordinates}}</td>
          <td *ngIf="request.status === 'Active'" class="text-danger">{{request.status}}</td>
          <td *ngIf="request.status === 'Done'" class="text-success">{{request.status}}</td>
          <td>
            <button class="activeButton w-100" *ngIf="request.status === 'Active'" (click) = 'requestDone(request.id)'>Close</button>
            <button class="doneButton w-100" *ngIf="request.status === 'Done'" (click) = 'requestActive(request.id)'>Open</button>
            <br>
            <a href="https://twitter.com/intent/tweet?text={{request.details}}%20{{request.full_address}}%20{{request.coordinates}}&hashtags=help,crowdit" target="_blank"><i class="bi bi-twitter" style="color:#ffff; font-size: 15px;"></i> Tweet</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="posts-field" *ngIf="postsClicked">
    <h3 class="text-center"><span>{{allPosts.length}} </span>Posts</h3>
    <h6 class="text-danger text-center">Check the content, image and decide if the post is worth to share with all users.</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author</th>
          <th>Content</th>
          <th>Image</th>
          <th>Urgency</th>
          <th>Status</th>
          <th class="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of allPosts">
          <td>{{post.authorName}}</td>
          <td>{{post.content}}</td>
          <td><img *ngIf="post.imageURL" src={{post.imageURL}} alt="post-image"></td>
          <td>
            <span *ngIf="post.urgency"><i class="bi bi-fire" style="color: #F53D3D;"></i></span>
            <span *ngIf="!post.urgency">-</span>
          </td>
          <td>
            <span *ngIf="post.status === 'waiting'" class="text-warning">Waiting</span>
            <span *ngIf="post.status === 'confirmed'" class="text-success">Confirmed</span>
          </td>
          <td>
            <div *ngIf="post.status === 'waiting'" class="post-actions">
              <i class="bi bi-check2 text-success" (click) = 'handleConfirmPost(post.key)'></i>
              <i class="bi bi-x text-danger" (click) = 'handleDenyPost(post.key)'></i>
            </div>
            <div *ngIf="post.status ==='confirmed'">
              <i class="bi bi-trash3 text-danger" (click) = 'handleRemovePost(post.key)'></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tasks-field" *ngIf="tasksClicked"></div>
